.gamebox {
    display: flex;
  }
  
  .gamebox :first-child {
    width: 400px;
  }
  
  .gamebox > * {
    flex: 1 0 auto;
  }

  div.feedbackbox {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    padding: 3px;
  }

  @font-face {
    font-family: 'gameboy_redblue';
    src: url('/assets/fonts/PKMN_RBYGSC.ttf');
  }

  .redbluegameboy {
    font-family: gameboy_redblue;
  }