.gamebox {
    display: flex;
  }
  
  .gamebox :first-child {
    width: 400px;
  }
  
  .gamebox > * {
    flex: 1 0 auto;
  }

  div.feedbackbox {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    padding: 3px;
  }

  div.gameoverbox {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 2%;
    padding: 3px;
  }

  .redbluegameboy {
    font-family: gameboy_redblue;
  }